
html{
    height: 100%; /* Covers vertacly down the page with backgorund image*/
}

body{
    background-color: rgb(66, 223, 181);
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover; 
    background-repeat: no-repeat; /*keep image from repeting itself down the page*/


}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /* background-color: blue; */
    height: 118px;
    text-align: center;
    

}
nav{
    background-color: rgb(0, 0, 0, 0.338);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
main {
    /* background-color: orange; */
    height: 400px;
    text-align: center;
    padding-top: 80px; /* padding will affect the orientation of things inside teh box*/
    /* margin-top: 80px; */ 
                             /* margin will affect the boxes orientation to the page */ 
    padding-left: 240px;
    padding-right: 240px;

    
}
footer{
    background-color: rgba(18, 20, 15, 0.338);

}
h1{

    
    font-size: 84px;
    color: white ;
   font-family: Arial, Helvetica, sans-serif; 
   
}

p{
    font-size: 18px;
    color: white ;
   font-family: Arial, Helvetica, sans-serif; 
}

footer p{
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*This is called a compound selectors*/
nav a{
   text-decoration: none;
   font-size: 12px;
   padding-left: 10px;
   padding-right: 10px;

}

.maps{
    padding-bottom: 100px;
}